<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA11GRg4hDw5MkDvqcYYGSo0rL2ZDbmTSk</string>
	<key>GCM_SENDER_ID</key>
	<string>595873217522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asrooStoreApp</string>
	<key>PROJECT_ID</key>
	<string>appstore-37b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>appstore-37b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595873217522:ios:19a4ad9b04acb4559f096b</string>
</dict>
</plist>